#Container {
  display: grid;
  gap: 2px;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "Head Head"
    "Side Main"
    "Foot Foot";
}

#Header, #Sidebar, #MainContent, #Footer {
  padding: 1rem;
}

#Header {
  grid-area: Head;
  background-color: pink;
}

#Sidebar {
  grid-area: Side;
  background-color: rgb(219, 152, 163);
  height: 500px;
}

#MainContent {
  grid-area: Main;
  background-color: rgb(240, 124, 143);
}

#Footer {
  grid-area: Foot;
  background-color: rgb(72, 39, 44);
}