/* --------------------------*
|                            |
|      ~~~~~ Animation ~~~~~ |
|                            |
----------------------------*/
/* Excellent examples: https: //vanila.io/ */
/* Should really only need to animate transform and opacity. (Not CSS properties)  */

/* Transform - The instructions of what to change. Units are relative to the object itself, not the object's parent container.
Transitions - The instructions of how to change it. (Key frame version allow multiple transitions) */


/*    ---- Transforms ----
/** ------------------------*
Position: translate(10px, 25px)   // Changing position 10px to the right and 25 pixels down
Scale: scale(2)                   // Double the size
Rotation: rotate(45)              // Rotate the object 45deg clockwise
3D transform: translate3d(x,y,z)  // 3D transform
Skewing: skew(30deg)              // skew the object for isometric designs.

transform: scale(2) rotate(45deg) // Combine multiple transforms based on order of operations.

/*    ---- Transitions ----
/** -------------------------*
https: //easings.net/# & https: //cubic-bezier.com/#1,-1.59,.89,.21

/ Start - Initial state values and specify what will transition over how long and how.
.object{
    opacity: 0;
    transition: opacity 230ms ease-in-out;
}

/ End - Ending state what what we want the result to look like
.object:hover{
    opacity: 1;
}


/*    ---- keyframes ----
/** -----------------------*
/* https: //www.youtube.com/watch?v=YszONjKpgg4&t

/* from = start
intermediates = steps in between in %
to = end 

@keyframes animationName{

    from{ 
        transform: rotate(0deg)
    }

    50%{
        transform: rotate(180deg)
    }

    to{
        transform: rotate(360deg)
    }
}

.object{
    animation: animationName 4s
    animation-iteration-count: infinite (or a specified number of times)
}

*/