body {
  padding: 0;
  margin: 0;
}

#GridContainer {
  display: grid;
  max-width: 1300px;
  margin: auto;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "h h"
    "m c"
    "f f";
}

#Header {
  grid-area: h;
  background-color: pink;
}
#Menu {
  grid-area: m;
  background-color: wheat;
}
#Content {
  grid-area: c;
  background-color: rgb(182, 224, 224);
  padding: 0.5em; 
}

#Footer {
  grid-area: f;
  background-color: rgb(165, 119, 33);
}

#FlexboxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  background-color: grey;
  padding: 1em;
  justify-content: center;
}

.Flexboxitem {
  background-color: rgb(57, 32, 185);
  color: white;
}


.Flexboxitem{
  display: grid;
  grid-template-columns: 225px;
  grid-template-rows: 100px 1fr auto;

  grid-template-areas: "Top"
                       "Content"
                       "Botton";
}

.top{
  grid-area: Top;
  background-color: pink;
}

.bottom{
  grid-area: Content;
  padding: 0.5rem;
}

.cardText{
  margin-top: 0;
}

.buttonContainer{
  padding: 0.5rem;
}
.cardButton{
  width: 100%;
}